<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 过滤器</title>
</head>
<body ng-app="myApp">

<div ng-controller="upFilterCtrl">
    <p>大写：{{name1 | uppercase}}</p><br>
    <p>小写：{{name2 | lowercase}}</p><br>
    <p>currency过滤器（currency 过滤器将数字格式化为货币格式）：{{filterxx|currency}}</p><br>
    <p>orderBy 过滤器根据表达式排列数组(name)：
       <div ng-repeat="person in persons | orderBy:'name'">{{person}}</div>
    </p>
    <p>orderBy 过滤器根据表达式排列数组(age)：
    <div ng-repeat="person in persons | orderBy:'age'">{{person}}</div>
    </p>
    <p>filter 过滤器从数组中选择一个子集：
      <input type="text" ng-model="test"/>
        <div ng-repeat="person in persons | filter:test|orderBy:'age'">{{person.name + "  "+person.age}}</div>
    </p>
</div>

<script src="../js/angular.js"></script>
<script src="002.js"></script>
</body>
</html>
